body
{
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}
.container
{
  max-width: 500px;
  margin: 0 auto;
  background-color: #f7cde9;
  border-radius: 10px;
  padding: 20px;
}

h1
{
  text-align: center;
}

input[type="number"]
{
  width: 96%;
  margin-bottom: 10px;
  padding: 8px;
  border-color: #f04486;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
button
{
  width: 100%;
  padding: 8px;
  background-color: #ff0080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table
{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td
{
  border-style: hidden;
  border-color: #c00f53;
  padding: 4px;
  text-align: center;
}