body{
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



input[type="text"]
{

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
button 
{
    padding: 8px 20px;
    background-color: #67e2a9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
p
{
    justify-content: center;
    align-content: center;
    color: red;
}